mat-card {
    max-width: 95%;
    margin: 2em auto;
}

mat-toolbar {
    background-color: black;
    color: white;
}

.loading-spinner {
    padding: 25px;
    background: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}