.mat-mdc-dialog-title {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    color: white;
}

.dialog-container {
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}
