<mat-card class="employee-form-card">
    <mat-card-title *ngIf="isEditMode">Update Employee</mat-card-title>
    <mat-card-title *ngIf="!isEditMode">Create Employee</mat-card-title>

    <form [formGroup]="employeeForm">
        <mat-card-content>
            <div class="form-fields">
                <mat-form-field appearance="fill">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="fullName" required />

                    <mat-error *ngIf="employeeForm.get('fullName')?.hasError('required') && employeeForm.get('fullName')?.touched">
                        Full Name is required
                    </mat-error>

                    <mat-error *ngIf="employeeForm.get('fullName')?.hasError('minlength') && employeeForm.get('fullName')?.touched">
                        Full name must be at least 10 characters
                    </mat-error>

                    <mat-error *ngIf="employeeForm.get('fullName')?.hasError('maxlength') && employeeForm.get('fullName')?.touched">
                        Full name must be less than 100 characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Worker Number</mat-label>
                    <input matInput formControlName="workerNo" required />

                    <mat-error *ngIf="employeeForm.get('workerNo')?.hasError('min') && employeeForm.get('workerNo')?.touched">
                        Worker number must be at least 30000
                    </mat-error>

                    <mat-error *ngIf="employeeForm.get('workerNo')?.hasError('max') && employeeForm.get('workerNo')?.touched">
                        Worker number must be no more than 10000
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required />

                    <mat-error *ngIf="employeeForm.get('email')?.hasError('minlength') && employeeForm.get('email')?.touched">
                        Email must be at least 15 characters
                    </mat-error>

                    <mat-error *ngIf="employeeForm.get('email')?.hasError('maxlength') && employeeForm.get('email')?.touched">
                        Full name must be less than 60 characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Contact</mat-label>
                    <input matInput formControlName="phoneNumber" required />

                    <mat-error *ngIf="employeeForm.get('phoneNumber')?.hasError('minlength') && employeeForm.get('phoneNumber')?.touched">
                        Contact must be at least 9 digits
                    </mat-error>

                    <mat-error *ngIf="employeeForm.get('phoneNumber')?.hasError('maxlength') && employeeForm.get('phoneNumber')?.touched">
                        Contact must be less than 14 digits
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Recruitment Company</mat-label>
                    <mat-select formControlName="recruitmentCompany" required>
                        <mat-option *ngFor="let rctComp of recruitmentCompanys" [value]="rctComp">{{ rctComp }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Operation</mat-label>
                    <mat-select formControlName="operation" required>
                        <mat-option *ngFor="let op of operations" [value]="op">{{ op }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department" required>
                        <mat-option *ngFor="let dep of departments" [value]="dep">{{ dep }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                        <mat-option *ngFor="let gender of genders" [value]="gender">{{ gender }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="birthdayDate" required />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Admission</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="admissionDate" required />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
      <button mat-stroked-button (click)="goBack()">Cancel</button>
      <button *ngIf="!isEditMode"
        mat-raised-button
        style="color: black;"
        (click)="createEmployee()"
        [disabled]="employeeForm.invalid"
        >
        Create
      </button>
      <button *ngIf="isEditMode"
        mat-raised-button
        style="color: black;"
        (click)="updateEmployee(employeeForm.value, workNo)"
        [disabled]="employeeForm.invalid"
        >
        Save
      </button>
    </mat-card-actions>
    </form>
</mat-card>