.table-container {
    max-height: 420px;
    overflow-y: auto;
    display: block;
}

.mat-table {
    overflow: auto;
    max-height: 600px;
}

.mat-mdc-header-row {
    position: sticky;
    top: 0;
    z-index: 1;
}