<div class="table-container">
    <mat-table [dataSource]="employees">
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
            <mat-cell *matCellDef="let employee">{{ employee.fullName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let employee">{{ employee.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef>Contact</mat-header-cell>
            <mat-cell *matCellDef="let employee">{{ employee.phoneNumber }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="recruitmentCompany">
            <mat-header-cell *matHeaderCellDef>Recruitment</mat-header-cell>
            <mat-cell *matCellDef="let employee">{{ employee.recruitmentCompany }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="operation">
            <mat-header-cell *matHeaderCellDef>Operation</mat-header-cell>
            <mat-cell *matCellDef="let employee">{{ employee.operation }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="department">
            <mat-header-cell *matHeaderCellDef>Department</mat-header-cell>
            <mat-cell *matCellDef="let employee">{{ departmentMap[employee.department] }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="birthdayDate">
            <mat-header-cell *matHeaderCellDef>BirthdayDate</mat-header-cell>
            <mat-cell *matCellDef="let employee">{{ employee.birthdayDate | date: 'dd-MM-yyyy'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let employee">
                <div [ngClass]="{'status-active': employee.status === 'ACTIVE', 'status-inactive': employee.status === 'INACTIVE'}">
                    {{ employee.status }}
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="admissionDate">
            <mat-header-cell *matHeaderCellDef>Admission Date</mat-header-cell>
            <mat-cell *matCellDef="let employee">{{ employee.admissionDate | date: 'dd-MM-yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="registryDate">
            <mat-header-cell *matHeaderCellDef>Registry Date</mat-header-cell>
            <mat-cell *matCellDef="let employee">{{ employee.registryDate | date: 'dd-MM-yyyy HH:mm' }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="openEmployeeForm(row)"></mat-row>
    </mat-table>
</div>